[![Travis CI](https://img.shields.io/travis/shareme/REPO.svg)](http:link-to-travis-results-page)
[![Release](https://img.shields.io/github/release/shareme/REPO.svg?label=maven)](https:jitpack.io/#shareme/REPO)
[![license](https://img.shield.io/badge/license-Apache2-blue.svg)](license-url)
![Github followers](https://img.shields.io/github/followers/shareme.svg?style=social&label=Follow)
![github forks](https://img.shields.io/github/forks/repoproject/shareme.svg?style=social&label=Fork)
![gtihub stars](https://img.shields.io/github/stars/repoproject/shareme.svg?style=social&label=Star)
![github watch](https:/img.shields.io/github/wacthers/repoproject/shareme.svg?style=social&label=Watch)
![github issues](https://img.shields.io/github/issues/repoproject/shareme.svg)
![twitter url to tweet](https://img.shields.io/twitter/url/http/url.of.github.repo.svg?style=social)
![no puppies](https://img.shields.io/badge/no_apple_fans-killed_today-blue.svg)
![no eclipse](https://img.shields.io/badge/no_eclipse_fans-killed_today-red.svg)



